@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;600;700&display=swap');

html,
body,
.app,
.content{
  height: 100%;
  width:100%;
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box !important;
}

.app{
  display: flex;
  position: relative;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar{
  width:10px;
}


/*Track*/
::-webkit-scrollbar-track{
  background:#e0e0e0;
}

/*Handle*/
::-webkit-scrollbar-thumb{
  background:#888
}

/*Handle on hover*/
::-webkit-scrollbar-track:hover{
  background:#555;
}

